@model TestDemo.Models.CrudModel

<partial name="_ValidationScriptsPartial" />
<style>
    .bg-secondary {
        background-color: #f4f5f7 !important;
    }
</style>

<h1>Welcome to Crud</h1>

<form id="Form1" method="post" asp-action="Index" asp-controller="Crud" >
    @if (ViewBag.Msg != null)
    {

        <div class="@ViewBag.alertType" role="alert">
            <div asp-validation-summary="All">@ViewBag.Msg</div>
        </div>
        @*<script>
                $(function () {

                    $.notify({
                        title: "<strong>Message:</strong> ",
                        message: "@ViewBag.Msg"
                    });
                });

            </script>*@

        ViewBag.Msg = null;
    }

    <div class="card">
        <div class="card-body">
            <div class="form-group">
                <label asp-for="Name">Name</label>
                <input asp-for="Name" class="form-control">
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="City">City</label>
                <input asp-for="City" class="form-control" />
                <span asp-validation-for="City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FatherName">Father Name</label>
                <input asp-for="FatherName" class="form-control" />
                <span asp-validation-for="FatherName" class="text-danger"></span>
            </div>
        </div>
        <div class="card-footer">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </div>

    @{ if (ViewBag.ModelList != null)
        { <div class="card">
                <div class="card-body">
                    <partial name="_ListPartial1" model="@ViewBag.ModelList" />
                </div>
            </div>
        }}

    @*@await Html.PartialAsync("_ListPartial", Model)*@

    @*@(await Html.RenderComponentAsync<TestDemo.Components.Component>(RenderMode.ServerPrerendered,null))*@

</form>